.Hero_container{
    height: 80vh;
    /* max-width: 1280px; */
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* flex-direction: column; */
}
.hero_heading{
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media  (max-width:764px){
    .Hero_container{
        padding: 2rem;
    }
    .hero_heading{
        text-align: center;
        align-items: center;

    }
}