.seller_cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1280px;
    gap: 24px;
    border-radius: 10px;
}